/* Heading */
h1 {
	color: black;
	margin: 2em;
}
header {
	background-color: #abe6da;
	border: 4px solid black;
	text-align: center;
	font-style: normal;
	font-size: 20px;
	font-family: helvetica;
}
/* Body */
h2 {
	margin:none;
}

 /* Images */

img {
	
	border: 1px solid red;
	padding: 2em;
	margin: 1em 0 8em 0;
	
	width: 30%;
 	
 
}
.flexcontainer {
	display: flex;
	flex-direction: column;
	margin-left: 30em;
}